[submodule "python-mapping"]
	path = python-mapping
	url = https://github.com/BillMills/python-mapping.git
[submodule "shell-scheduling"]
	path = shell-scheduling
	url = https://github.com/BillMills/shell-scheduling.git
[submodule "python-creating-packages"]
	path = python-creating-packages
	url = https://github.com/BillMills/pythonPackageLesson.git
[submodule "shell-awk"]
	path = shell-awk
	url = https://github.com/BillMills/awk-lesson.git
