[submodule "python-mapping"]
	path = python-mapping
	url = https://github.com/BillMills/python-mapping.git
[submodule "shell-scheduling"]
	path = shell-scheduling
	url = https://github.com/BillMills/shell-scheduling.git
[submodule "python-creating-packages"]
	path = python-creating-packages
	url = https://github.com/BillMills/pythonPackageLesson.git
[submodule "shell-awk"]
	path = shell-awk
	url = https://github.com/BillMills/awk-lesson.git
[submodule "R-dplyr-magrittr"]
	path = R-dplyr-magrittr
	url = https://github.com/ksamuk/dplyr_magrittr_demo.git
[submodule "R-loops"]
	path = R-loops
	url = https://github.com/rozdakin/R_loops_demo
[submodule "python-testing"]
	path = python-testing
	url = https://github.com/BillMills/python-testing.git
[submodule "R-creating-packages"]
	path = R-creating-packages
	url = https://github.com/kazi11/TestPackage.git
[submodule "R-ggplotVSlattice"]
	path = R-ggplotVSlattice
	url = https://github.com/lmguzman/ggplotVslattice.git
[submodule "R-tidyr_reshape2"]
	path = R-tidyr_reshape2
	url = https://github.com/remi-daigle/tidyr_reshape2_lesson.git
[submodule "go-intro"]
	path = go-intro-bengali/
	url = https://github.com/bolaram/Go-Language-in-Bengali.git
[submodule "git-intro-bengali"]
	path = git-intro-bengali
	url = https://github.com/bolaram/Git-Bengali-Tutorial.git
[submodule "django-intro-bengali"]
	path = django-intro-bengali
	url = https://github.com/bolaram/Django-in-Bengali.git
[submodule "go-intro-bengali"]
	path = go-intro-bengali
	url = https://github.com/bolaram/Go-Language-in-Bengali.git
[submodule "python-pandas"]
	path = python-pandas
	url = https://github.com/nsoontie/pythonPandasLesson
[submodule "R-biomaRt"]
	path = R-biomaRt
	url = https://github.com/kazi11/biomaRt_tutorial.git
[submodule "GIS_mapping_in_R"]
	path = GIS_mapping_in_R
	url = https://github.com/remi-daigle/GIS_mapping_in_R.git
[submodule "R-GIS-Mapping"]
	path = R-GIS-Mapping
	url = https://github.com/remi-daigle/GIS_mapping_in_R.git
[submodule "python-intro-bengali"]
	path = python-intro-bengali
	url = https://github.com/bolaram/Python-in-Bengali.git
